<h1>{{title}}</h1>
 <h1>{{first_name}} {{ gettitle()}} {{'1'+'6'}}</h1>
<br>
<input type="text" [(ngModel)]="first_name"> 
<p>Largetst Number:{{getMax(100,200)}}</p>
<p>you have  clicked : {{clickcount}}</p> 
<button (click)="clickme()">PROCEED</button>
<br>
<br>
<!-- EVENT BINDING -->
TYPE UR CMDS: <input type="text" on-input="handleinput($event);value1=$any($event.target).value">
<p>with function:   {{value}}</p>
<p>without function: {{value1}}</p>

<!-- STUCTURAL DIRECTIVES -->
<!-- ngFor -->
 
<h1>{{cinema}}</h1>
<ol>
    <li *ngFor="let movie of  movies">
        {{movie.title}} - {{movie.dir}} - {{movie.releaseyear}}
    </li>
</ol>

<div class="panel panel-primary">
    <div class="panel-heading">
        {{cinema}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>
                            TITLE
                        </th>
                        <th>
                            DIRECTOR
                        </th>
                        <th>
                            RELEASE YEAR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                     [ngClass]='{"bg-success":f, "bg-danger":o,"bg-warning":e,"bg-info":l}'
                     *ngFor="let movie of movies; let i=index,let e=even,let o=odd,let f=first,let l=last;">
                        <td>{{i+1}}</td>
                        <td>{{movie.title}}</td>
                        <td>{{movie.dir}}</td>
                        <td>{{movie.releaseyear}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br> 
<!-- ngSwitch -->
<label for="">enter number</label>
<input type="text" [(ngModel)]="num">
<div [ngSwitch]="num">
    <div *ngSwitchCase="0">zero</div>
    <div *ngSwitchCase="1">one</div>
    <div *ngSwitchCase="2">two</div>
    <div *ngSwitchCase="3">three</div>
</div>
 <br>
<br>
<!--ngIf -->
<h1>Ngif examples</h1>
<br>
<div class="row">
    <label for="" ><h2>checkbox</h2></label>
        <input type="checkbox" [(ngModel)]="showme">
</div>

<div *ngIf="showme;then thenblock; else elseblock">
</div> 
<!-- <h2 *ngIf="!showme">is'nt selected</h2>  -->

    <ng-template #thenblock>
        <h2>is selected</h2>
    </ng-template>

    <ng-template #elseblock>
         <h2>is'n selected</h2>
    </ng-template>
<br>
  
ENABLESCOLOR:<input type="checkbox" [(ngModel)]="enablecolor">
<br>
ENABLESBIG:<input type="checkbox" [(ngModel)]="enablebig">
<br>
ENABLESITALICS:<input type="checkbox" [(ngModel)]="enableitalics">
<div [ngClass]=
"{
    'primary':enablecolor,
    'big':enablebig,
    'italics':enableitalics
}">
   HI BRO'S 
</div>
<br>
<div [ngStyle]="{'color':status=='error'?'blue':'green',}">sample text</div>
<div [ngStyle]="{
    'color':'purple',
    'font-size':'20px',
    'font-weight':'bold'
}">sample text</div>
<br>
color:
<input type="text" [(ngModel)]="color">
<div [ngStyle]="{
    'backgroundColor':color,
}">change color</div> 
<!-- PIPES -->
 <p>{{chdate}}<br>CHANGE SHORTOF:
    
    {{chdate|date:'medium'}}
    <br>CHANGE SHORTOF:
    
    {{chdate|date:'short'}}
    <br>CHANGE SHORTOF:
    
    {{chdate|date:'fullDate'}}
</p>
<P>UPPERCASE:  {{messageU|uppercase}}</P>
<p>LOWERCASE:  {{messageL|lowercase}}</p>
<p>SLICE:      {{messageL|slice:11:20}}</p>
<p>PRICE:      {{price|currency:'INR'}}</p>
<br>
<!-- SHARING DATA BETWEEN COMPONENTS -->
